<h1>{{ 'account_password.heading_password'|trans }} ({{ 'account_password.text_must'|trans }})</h1>
{% if error != '' %}
    <div class="errormessage">{{ error|raw }}</div>
{% endif %}


{{ FORM_ACTION|raw }}
<div class="highlightbox">
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td width="31%">{{ 'account_password.text_actual'|trans }}</td>
    <td width="69%" class="inputRequirement" >{{ INPUT_ACTUAL|raw }}</td>
  </tr>
  <tr>
    <td>{{ 'account_password.text_new'|trans }}</td>
    <td class="inputRequirement">{{ INPUT_NEW|raw }}</td>
  </tr>
  <tr>
    <td>{{ 'account_password.text_confirm'|trans }}</td>
    <td class="inputRequirement">{{ INPUT_CONFIRM|raw }}</td>
  </tr>
</table>
</div>
<p>{{ BUTTON_BACK|raw }}&nbsp;{{ BUTTON_SUBMIT|raw }}</p>
{{ FORM_END|raw }}
